@layer reset, base, tokens, recipes, utilities;
@import "@tabler/core/dist/css/tabler.min.css";

:root {
  --daiso-red-accessible: #c4002f;
  --daiso-red-accessible-hover: #a90029;
  --daiso-red-accessible-active: #980024;
  --foreground-rgb: 64, 71, 86;
  --background-rgb: 255, 255, 255;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 64, 71, 86;
    --background-rgb: 255, 255, 255;
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: rgb(var(--background-rgb));
  @supports (width: 100dvw) {
    width: 100dvw;
    height: 100dvh;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: hidden;
}

input,
textarea,
[contenteditable="true"],
[contenteditable=""] {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn.btn-red {
  --tblr-btn-color: #ffffff;
  --tblr-btn-bg: var(--daiso-red-accessible);
  --tblr-btn-border-color: var(--daiso-red-accessible);
  --tblr-btn-hover-color: #ffffff;
  --tblr-btn-hover-bg: var(--daiso-red-accessible-hover);
  --tblr-btn-hover-border-color: var(--daiso-red-accessible-hover);
  --tblr-btn-active-color: #ffffff;
  --tblr-btn-active-bg: var(--daiso-red-accessible-active);
  --tblr-btn-active-border-color: var(--daiso-red-accessible-active);
  --tblr-btn-disabled-color: #ffffff;
  --tblr-btn-disabled-bg: var(--daiso-red-accessible);
  --tblr-btn-disabled-border-color: var(--daiso-red-accessible);
}
